.note__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content:flex-end;
    padding: 10px 20px;
}
.note__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}
.note__title-input, .note__textarea{
    border: none;

    &:focus{
        outline: none;
    }
}
.note__title-input{
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.note__textarea{
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}
.note__image img{
    box-shadow: 5px 5px $dark-grey;
    width: 200px;
}


@media (max-width: 600px){
    .note__main-content{
        width: 100vw;
        position: absolute;
        left: 0px;
    }
    .note__image img{
        width: 150px;
    }

}